
.page {
  width: 100%;
}
/* Freight Land*/
.page-land {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/land3.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-land h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-land p {
  font-size: 18px;
  text-align: left;
}

/* Fright Air*/
.page-air {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/cargo2.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-air h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-air p {
  font-size: 18px;
  text-align: left;
}

/* Fright Sea*/
.page-sea {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/seafreight.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-sea h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-sea p {
  font-size: 18px;
  text-align: left;
}

/* About Us*/
.page-about {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/logo.PNG");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-about h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-about p {
  font-size: 18px;
  text-align: left;
}

/* Contact */
.page-contact {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/contact.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-contact h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-contact p {
  font-size: 18px;
  text-align: left;
}

/* Tracking Page*/
.page-tra {
background:
url("/images/tracking2.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-tracking {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/tracking.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-tracking h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-tracking p {
  font-size: 18px;
  text-align: left;
}
.red-bar {
  height: 20px;
  background: #e00000;
}

.page-content {
  padding: 100px 7%;
  max-width: 100%;
  background-color: #ffffff;
}

.page-content h2 {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 35px;
  color: #000000;
  text-align: left;
}
  .page-content h3 {
font-size: 24px;
line-height: 1.2;
  margin-bottom: 10px;
  color: #e00000;
  text-align: left;
  }

.page-content p {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 90px;
  text-align: left;
  color: #000;
}

@media (max-width: 768px) {
    .page-hero {
    height: 250px;
    padding: 0 6% 35px;
  }

  .page-hero h1 {
    font-size: 35px;
  }

  .page-hero-content h1 {
    font-size: 3rem;
  }

    .page-hero-content p {
    font-size: 14px;
    margin-top: -10px;
    font-weight: lighter;
    color: #d8d8d8;
  }

  .page-hero p {
    font-size: 18px;
  }

  .red-bar {
    height: 45px;
  }

  .page-content {
    padding: 60px 6%;

  }

  .page-content h2 {
    font-size: 30px;
  }

      .page-content h3 {
    font-size: 20px;
    font-weight: 200;
  }

  .page-content p {
    font-size: 16px;
    color: #2c2c2c;
    text-align: left;
  }
}





.gallery{
    display:flex;
    width:100%;
    height:300px;
}

.box{
    flex:1;
    overflow:hidden;
}

.box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Center */
.center{
    clip-path:polygon(15% 0,85% 0,100% 50%,85% 100%,15% 100%,0 50%);
    margin-left:-70px;
    margin-right:-70px;
    z-index:2;
}


/* Tracking Section */
.tracking-page {
  background: #ffffff;
  color: white;
  padding: 200px 16%;
}

.tracking-pag {
  background: #f6f6f6;
  color: white;
  padding: 30px 10%;
}

.tracking-page h2{
  text-align: left;
   margin-bottom: 20px;
   font-weight: 600;
   color: #000;
}

.tracking-page p {
  text-align: left;
  color: #000
}

.tracking-box-page {
  display: flex;
  margin-top: 10px;
}

.tracking-box-page input {
  flex: 1;
  padding: 16px;
  background: rgb(235, 235, 235);
  border: none;
  color: #000000;
}

.tracking-box-page button{
  background: #e00000;
  color: white;
  border: none;
  padding: 14px 28px;
  font-weight: bold;
  cursor: pointer;
}

.tracking-box-page button:hover {
  background: #ad0000;
}

@media (max-width: 768px) {
    .tracking-page {
    padding: 100px 6%;
  }
}

/*Support Service for track page*/
.support-section {
  background: #f6f6f6;
  padding: 80px 8%;
  display: flex;
  justify-content: center;
}

.support-content {
  max-width: 750px;
  text-align: center;
}

.support-content h2 {
  font-size: 2.5rem;
  color: #06265a;
  margin-bottom: 20px;
  font-weight: 600;
}

.support-subtitle {
  font-size: 1.2rem;
  color: #e00000;
  font-weight: 600;
  margin-bottom: 20px;
}

.support-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 35px;
}

.support-btn {
  display: inline-block;
  padding: 14px 35px;
  background: #e00000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease;
}

.support-btn:hover {
  background: #ad0000;
}

@media (max-width: 768px) {
    .support-section {
    padding: 100px 6%;
  }
}

/* Contact Page */
.contact-section {
  width: 100%;
  padding: 100px 8%;
  background: #fff;
}

.contact-card {
  padding: 20px 0 50px;
}

.contact-card h2 {
  font-size: 24px;
  color: #111;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: left;
}

.contact-description {
  font-size: 14px;
  line-height: 1.8;
  color: #444;
  max-width: 800px;
  margin-bottom: 25px;
  text-align: left;
}

.contact-details {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 16px;
  color: #111;
  margin-bottom: 45px;
  text-align: left;
}


.contact-detail {
  color: #111;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-detail:hover {
  color: #e00000;
}

.contact-option {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.icon-circle {
  width: 30px;
  height: 30px;
  border: 1px solid #e00000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.contact-img {
  width: 20px;
  height: 20px;
  object-fit: contain;

  filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
    saturate(5200%) hue-rotate(355deg) brightness(95%) contrast(110%);

  transition: 0.3s ease;
}


.contact-label {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  transition: 0.3s ease;
}

.contact-option:hover .icon-circle {
  background: #e00000;
}

.contact-option:hover .contact-img {
  filter: brightness(0) invert(1);
}

.contact-option:hover .contact-label {
  color: #e00000;
}

.contact-divider {
  border: none;
  border-top: 1px solid #d5d5d5;
  margin: 0;
}