
.page {
  width: 100%;
}
/* Africa*/
.page-africa {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/africa.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-africa h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-africa p {
  font-size: 18px;
  text-align: left;
}

/* Asia*/
.page-asia {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/asia.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-asia h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-asia p {
  font-size: 18px;
  text-align: left;
}

/* europe */
.page-europe {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/europe.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-europe h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-europe p {
  font-size: 18px;
  text-align: left;
}

.red-bar {
  height: 20px;
  background: #e00000;
}

/* northamerica */
.page-northamerica {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/northamerica.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-northamerica h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-northamerica p {
  font-size: 18px;
  text-align: left;
}


/* southamerica */
.page-southamerica {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/southamerica.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-southamerica h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-southamerica p {
  font-size: 18px;
  text-align: left;
}

/* Global Reach*/
.page-global {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/globalreach.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-global h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-global p {
  font-size: 18px;
  text-align: left;
}

.page-globalreach {
background:
  url("/images/globalreach2.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.titanium {
background:
  url("/images/titanium.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}


.contact-link {
  color: #e00000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #06265a;
  text-decoration: underline;
}


.red-bar {
  height: 20px;
  background: #e00000;
}

.page-content {
  padding: 100px 7%;
  max-width: 100%;
  background-color: #ffffff;
}

.page-content h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 35px;
  color: #000;
  text-align: left;
}

.page-content h4 {
  font-size: 25px;
  line-height: 1.2;
  margin-top: 35px;
  color: #000;
  text-align: left;
}
  .page-content h3 {
font-size: 20px;

line-height: 1.2;
  margin-bottom: 10px;
  color: #e00000;
  text-align: left;
  }

.page-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: left;
  color: #000;
}

@media (max-width: 768px) {
    .page-global {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-about {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-air {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-contact {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-land {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-africa {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-asia {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-europe {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-northamerica {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-southamerica {
    height: 250px;
    padding: 0 6% 35px;
  }
      .page-sea {
    height: 250px;
    padding: 0 6% 35px;
  }
    .page-tracking {
    height: 250px;
    padding: 0 6% 35px;
  }
  

  .page-hero {
    height: 250px;
    padding: 0 6% 35px;
  }

  .page-hero-content h1 {
    font-size: 3rem;
    line-height: 100%;
  }

  .page-hero-content p {
    font-size: 14px;
    margin-top: -10px;
    font-weight: lighter;
    color: #d8d8d8;
  }

  .red-bar {
    height: 15px;
  }

  .page-content {
    padding: 60px 6%;
  }

  .page-content h2 {
    font-size: 30px;
  }

    .page-content h3 {
    font-size: 20px;
     font-weight: 200;
  }

  .page-content p {
    font-size: 16px;
      color: #2c2c2c;
      text-align: left;
  }


}





.air {
  padding: 60px 0;
  background-color: #f5f5f5;
    background: #f0f0f0 !important;
}


.air-solutions{
    width:90%;
    margin:80px auto;
}

.air-header{
    text-align:center;
    max-width:800px;
    margin:0 auto 60px;
}

.air-grid{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    justify-content:center;
}

.air-card{
    flex:1 1 280px;
    background:#fff;
    border-radius:12px;
    padding:35px;
    border:1px solid #e6e6e6;
    transition:all .3s ease;
}

.air-card:hover{
    background:#06265a;
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.air-card h3{
    color:#06265a;
    margin-bottom:15px;
    font-size:24px;
    transition:color .3s ease;
}

.air-card p{
  font-size: 16px;
    color:#000;
    line-height:1.8;
    transition:color .3s ease;
}

.air-card:hover h3,
.air-card:hover p{
    color:#fff;
}

.transport-icon {
  width: 50px;      /* Adjust size */
  height: 50px;
  margin-bottom: 15px;
}





.gallery{
    display:flex;
    width:100%;
    height:300px;
}

.box{
    flex:1;
    overflow:hidden;
}

.box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

@media (max-width: 768px) {
    .gallery{
    display:flex;
    width:100%;
    height:200px;
}

.box{
    flex:1;
    overflow:hidden;
}

.box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

}
/* Center */
.center{
    clip-path:polygon(15% 0,85% 0,100% 50%,85% 100%,15% 100%,0 50%);
    margin-left:-70px;
    margin-right:-70px;
    z-index:2;
}




/* Chemical Applications */
/* Global Reach*/
.page-chemical {
background:
  linear-gradient(rgba(6, 38, 90, 0.731), rgba(0, 1, 37, 0.962)),
  url("/images/chemical.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}

.page-chemical h1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.page-chemical p {
  font-size: 18px;
  text-align: left;
}

.titanium {
background:
  url("/images/chemical.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  color: white;
  height: 340px;
  display: flex;
  align-items: flex-end;
  padding: 0 7% 45px;
}


.titanium-video{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:90px;
    padding: 80px auto;
}

.video-container{
    flex: 2;
}

.titanium-bg-video{
  background-color: #ececec;
    width:100%;
    height:420px;
    object-fit: contain;
    border-radius:10px;
}

.applications-container{
    flex:1;
}

.applications-container h3{
    margin-bottom:25px;
}

.app{
    list-style:none;
    padding:0;
    display:grid;
    grid-template-columns:1fr;
    gap:10px;
}

.app li{
    display:flex;
    align-items:center;
    gap:12px;
}

.app li img{
    width:18px;
    height:18px;
      filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
          saturate(5200%) hue-rotate(355deg)
          brightness(95%) contrast(110%);

}

@media (max-width:768px){

    .titanium-video{
        flex-direction:column;
    }

    .video-container,
    .applications-container{
        width:100%;
    }

    .titanium-bg-video{
        height:250px;
    }

}


.applications{
  list-style:none;
  padding:0;
  margin-top:20px;

  display:grid;
  grid-template-columns:repeat(1fr);
  gap:15px 30px;
}

.applications li{
  display:flex;
  align-items:center;
  gap:10px;
  color:#444;
}

.applications img{
  width:18px;
  height:18px;
  filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
          saturate(5200%) hue-rotate(355deg)
          brightness(95%) contrast(110%);
}

@media (max-width:768px){

  .applications{
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .applications li{
    align-items: flex-start;
    gap: 8px;
  }

  .applications li img{
    width: 16px;
    height: 16px;
    margin-top: 3px;
  }

}

/*Acrylic*/
.titanium-section{
  display:flex;
  align-items:center;
  gap:90px;
  padding: 80px auto;
}

.applications-container{
  flex:1;
}

.image-container{
  flex:1;
}

.image-container img{
  width:100%;
  height:450px;
  object-fit:cover;
  border-radius:10px;
}

@media (max-width:768px){

  .titanium-section{
    flex-direction:column;
    gap:35px;
  }

  .applications-container,
  .image-container{
    width:100%;
  }

  .image-container img{
    height:280px;
  }

  
  
}

/*Industry*/

.industries{
  padding:30px 7%;
  margin-top: 80px;
  background-color: #ebebeb;
}

.industries h2{
  margin-bottom:15px;
}

.industries p{
  margin-bottom:30px;
}

.industries-list{
  list-style:none;
  padding:0;
  margin:0;
text-align: left;
  display:grid;
  grid-template-columns:repeat(1,1fr);
  gap:18px 40px;
}

.industries-list li{
  display:flex;
  align-items:center;
  gap:12px;
}

.industries-list li img{
  width:18px;
  height:18px;
  object-fit:contain;

  filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
          saturate(5200%) hue-rotate(355deg)
          brightness(95%) contrast(110%);
}

@media (max-width:768px){
  .industries-list{
    grid-template-columns:1fr;
  }
}


/*industries served page*/
.sector-section{
  padding:80px 7%;
  background:#f8f9fb;
}

.sector-header{
  text-align:center;
  max-width:700px;
  text-align: left;
}

.sector-header h2{
  font-size:2.2rem;
  color:#002b5c;
  margin-bottom:15px;
  text-align: left;
}

.sector-header p{
  color:#666;
  line-height:1.7;
  text-align: left;
}

.sector-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.sector-item{
  background:#fff;
  border-radius:12px;
  padding:35px 25px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
  transition:.3s;
}

.sector-item:hover{
  transform:translateY(-8px);
}

.sector-item img{
  width:60px;
  height:60px;
  object-fit:contain;
  margin-bottom:20px;

}

.sector-item h3{
  font-size:1.1rem;
  color:#002b5c;
  line-height:1.5;
}

@media (max-width:992px){
  .sector-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media (max-width:768px){
  .sector-section{
    padding:60px 5%;
  }

  .sector-grid{
    grid-template-columns:1fr;
  }

  .sector-header h2{
    font-size:1.8rem;
  }

  .sector-item h3{
    text-align: center;
  }
}
